<!-- Content Wrapper. Contains page content -->
<style>
    .hide {
      display: none
    }
  
    .show {
      display: block
    }
  
    .pagination>li>a {
      padding: 7px;
      font-weight: 600;
    }
  
    .modal-dialog .close {
      display: none !important;
    }
  
    body {
      width: calc(100vw - 34px);
    }
  </style>
  <div class="content-wrapper">
    <div class="page-heading">
     Total Users
    </div>
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{admin}}
                <!-- <sup style="font-size: 20px">%</sup> -->
              </h3>
  
              <p>Admin</p>
            </div>
           
          </div>
        </div>
         <!-- ./col -->
         <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-orange">
              <div class="inner">
                <h3>{{employee}}
                  <!-- <sup style="font-size: 20px">%</sup> -->
                </h3>
    
                <p>Employee</p>
              </div>
         
            </div>
          </div>
        <!-- ./col -->
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-blue">
                <div class="inner">
                  <h3>{{manager}}</h3>
      
                  <p>Manager</p>
                </div>

              </div>
            </div>
            <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{client}}</h3>
  
              <p>Customer</p>
            </div>

          </div>
        </div>
        <!-- ./col -->
          <!-- ./col -->
     
        <!-- ./col -->
       
      </div>

    </section>
    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->