<div class="box box-info">
  <div class="box-header">
    <i class="fa fa-inbox"></i>
    <h3 class="box-title">Users</h3>
    <div class="graph-filter pull-right">
      <ul class="pagination pagination-sm inline">
        <li>
          <a [style.background-color]="yearColor" (click)="selectUsersTab('year');">
            <b>Yearly</b>
          </a>
        </li>
        <li>
          <a [style.background-color]="dateColor" (click)="selectUsersTab('date');">
            <b>DateWise</b>
          </a>
        </li>
      </ul>
      <div class="input-group pull-right" style="width:250px">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input type="text" class="form-control pull-right" style="height:80%" [ngModel]='selectedYear' [ngClass]="{ 'hide' :selectedTab!='year'}" id="userchartyearpicker">
        <input type="text" class="form-control pull-right" style="height:80%" [ngClass]="{ 'hide' :selectedTab=='year'}" id="userchartFilter">
      </div>
    </div>
  </div>
  <div class="box-body">
    <canvas id="users-chart" style="height: 450px; width: 950px;"></canvas>
  </div>
</div>