<div class="box box-info">
  <mat-tab-group (selectedTabChange)="tabClick($event)">
    <mat-tab label="Legal Cases">
      <div class="box-header">
        <!-- <i class="fa fa-inbox"></i> -->
        <h3 class="box-title"></h3>
        <div class="graph-filter pull-right">
          <ul class="pagination pagination-sm inline">
            <li>
              <a  [style.background-color]="yearColor" (click)="selectCaseTab('year');">
                <b>Yearly</b>
              </a>
            </li>
            <li>
              <a  [style.background-color]="dateColor" (click)="selectCaseTab('date');">
                <b>DateWise</b>
              </a>
            </li>
          </ul>
          <div class="input-group pull-right" style="width:250px">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-right" style="height:80%" [ngModel]='selectedYear' [ngClass]="{ 'hide' :selectedTab!='year'}" id="yearpicker">
            <input type="text" class="form-control pull-right" style="height:80%" [ngClass]="{ 'hide' :selectedTab=='year'}" id="casesFilter">
          </div>
        </div>
      </div>
      <div class="box-body">
        <canvas id="cases-chart" style="height: 450px; width: 950px;"></canvas>
      </div>
    </mat-tab>
    <mat-tab label="For Institutional Cases"> 
      <app-forinst-case-chart></app-forinst-case-chart>
     </mat-tab>
    <mat-tab label="Against Institutional Cases">
            <app-againstinst-case-chart></app-againstinst-case-chart>
      </mat-tab>
  </mat-tab-group>
</div>

<!-- quick email widget -->