<div class="content-wrapper">
  <div class="page-heading">
    Recourse Stage Requests
  </div>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box">
          <div class="box-body" id="recourseTable">
            <app-data-table #dataTable [tableData]="tableInputData" [tableColumns]="columns" (rowClick)="onRowClick($event)" (rowDoubleClick)="onRowDoubleClick($event)"
              (selectedRows)="onRowSelect($event)" [showRowSelect]="rowSelect" [hoverTableRow]="hoverTableRow" [actionColumnConfig]="actionColumnConfig"
              (actionBtnClick)="onActionBtnClick($event)">
            </app-data-table>
          </div>
         
        </div>
       
      </div>
     
    </div>
   
  </section>
</div>